* {
  background-repeat: no-repeat;
  object-fit: cover;
}
.slow {
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform-origin: center;
}
*::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: normal;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  background-color: #0156FF;
}
main {
  min-height: 70vh;
  height: auto;
}
img,
.img {
  z-index: 0;
}
.poppins {
  font-family: 'Poppins, sans-serif';
}
.desktop-menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.desktop-menu button,
.desktop-menu a {
  margin: 0 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #19191D;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 40px;
}
h3 {
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 16px;
}
h4 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: currentColor;
}
a.c-5 {
  background-image: url('../images/icons/arrow-r-w.svg');
}
header a.c-3 {
  padding: 0;
  background-image: none;
}
p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}
.btn-1 {
  padding: 10px 30px;
  border: 1px solid #6839CF;
  border-radius: 4px;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0075em;
  color: #6839CF;
  background-color: white;
}
.btn-1.purple {
  display: block;
  background-color: #6839CF;
  border-radius: 4px;
  color: white;
}
.btn-1.purple:hover {
  background-color: #824df5;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.lh-100 {
  line-height: 100%;
}
.lh-111 {
  line-height: 111%;
}
.lh-125 {
  line-height: 125%;
}
.lh-2 {
  line-height: 156%;
}
section .section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}
section .section-title h2 {
  margin-bottom: 0;
}
section .section-title .see-all {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding-right: 26px;
  background-position: center right;
  background-image: url('../images/icons/arrow-r.svg');
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.container .row > * {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1250px) {
  .container {
    max-width: 1230px;
  }
  .container-big {
    max-width: 1645px;
  }
}
header {
  width: 100%;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2);
}
header .container-big {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .dropdown-toggle::after {
  display: none;
}
header .navbar-nav .nav-item {
  margin-right: 30px;
  white-space: nowrap;
  font-size: 16px;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
header .navbar-expand-lg .navbar-nav .nav-item.catalog {
  color: white;
  background-color: #6839CF;
  line-height: 16px;
}
header .navbar-expand-lg .navbar-nav .nav-item.catalog:hover {
  background-color: #824df5;
}
header .navbar-expand-lg .navbar-nav .nav-item.catalog .nav-link {
  padding: 17px 20px;
}
header .navbar-expand-lg .navbar-nav .nav-item.catalog .dropdown-menu {
  border: none;
  border-radius: 2px 2px 6px 6px;
  border-top: 2px solid #E5E5E5;
  margin: 0;
  padding: 40px 85px 80px 85px;
  top: 63px;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.102));
}
header .navbar-expand-lg .navbar-nav .nav-item.catalog .dropdown-menu svg {
  left: 136px;
  top: -10px;
}
header img,
header svg {
  vertical-align: inherit;
}
header .navbar-nav .nav-link.active {
  color: #6839CF;
}
header .navbar-collapse {
  align-items: center;
  width: 100%;
}
header .navbar-brand {
  line-height: 25px;
}
header .navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: transparent;
  padding: 5px;
}
header .navbar-light .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  background-image: url('../images/icons/menu-active.svg');
}
header .navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar-light .navbar-toggler-icon {
  background-image: url('../images/icons/menu.svg');
  outline: none;
}
header .mobile-cat-list {
  padding: 15px 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}
header .mobile-cat-list li {
  margin: 10px 8px;
  font-size: 18px;
  flex-shrink: 0;
}
header .mobile-cat-list li::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6839CF;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
header .navbar-toggler-icon {
  background-image: url('../images/icons/menu.svg');
}
.about .img {
  width: 100%;
}
.about .purple {
  padding: 10px 30px;
}
.widgets {
  z-index: 15;
  border-radius: 6px 0 0 6px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.widgets a {
  position: relative;
  background-color: transparent;
  display: block;
  width: 63px;
  height: 61px;
  border: none;
  border-top: 1px solid #595959;
  background-position: 15px center;
}
.widgets a:first-child {
  border-top: none;
}
.widgets a.basket {
  background-image: url('../images/icons/basket-w.svg');
}
.widgets a.fav {
  background-image: url('../images/icons/favorite-w.svg');
}
.widgets a.compare-page {
  background-image: url('../images/icons/compare-w.svg');
}
.widgets a .badge {
  position: absolute;
  font-size: 12px;
  background-color: #6839CF;
  border-radius: 50%;
  padding: 5px;
  min-width: 18px;
  top: 11px;
  left: 30px;
}
@media screen and (max-width: 998px) {
  .secondnav-block {
    padding-top: 30px;
    box-shadow: none;
  }
  .secondnav-block ul li {
    border: 1px solid white;
    background-color: #F6F6FF;
    width: 120px;
    flex-shrink: 0;
    padding: 15px 5px;
    margin-bottom: 0;
  }
  .secondnav-block ul li a {
    padding-top: 60px;
    background-size: auto 55px;
    line-height: normal;
    font-size: 12px;
  }
}
.tel:hover,
.tel:focus {
  color: #A039FF;
}
.header-top a:hover,
.header-bottom a:hover {
  color: #A039FF;
}
.header-top a:hover svg,
.header-bottom a:hover svg,
.header-top a:hover path,
.header-bottom a:hover path {
  fill: #A039FF;
}
.header-bottom {
  height: 80px;
}
.vam {
  vertical-align: middle;
}
.secondnav-block {
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: inset 0px -1px 0px #E5E5E5, inset -1px 1px 0px #E5E5E5;
  padding-top: 15px;
  padding-bottom: 15px;
}
.secondnav-list {
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.secondnav-item {
  flex-shrink: 0;
  flex-grow: 1;
}
.secondnav-link {
  display: block;
  padding-top: 50px;
  background-image: url('../images/img/nav-item.svg');
  background-position: top center;
}
.secondnav-link:hover,
.secondnav-link:active,
.secondnav-link:focus {
  color: #6839CF;
  background-image: url('../images/img/nav-item-h.svg');
}
.secondnav-link.a-iphone {
  background-image: url('../images/img/nav-item-2.svg');
}
.secondnav-link.a-iphone:hover {
  background-image: url('../images/img/nav-item-h-2.svg');
}
.secondnav-link.a-watch {
  background-image: url('../images/img/nav-item-3.svg');
}
.secondnav-link.a-watch:hover {
  background-image: url('../images/img/nav-item-h-3.svg');
}
.secondnav-link.a-pods {
  background-image: url('../images/img/nav-item-4.svg');
}
.secondnav-link.a-pods:hover {
  background-image: url('../images/img/nav-item-h-4.svg');
}
.secondnav-link.a-macbook {
  background-image: url('../images/img/nav-item-5.svg');
}
.secondnav-link.a-macbook:hover {
  background-image: url('../images/img/nav-item-h-5.svg');
}
.tabs-links {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
  justify-content: flex-start;
  border-bottom: 2px solid #9696A0;
  margin-right: auto;
}
.tabs-links li a {
  padding: 25px 40px;
  font-size: 18px;
  margin-bottom: -2px;
  border-radius: 4px 4px 0 0;
}
.tabs-links li a:hover {
  border-bottom: 4px solid #8772b4;
  background-color: #fbfbff;
}
.tabs-links li a.active {
  border-bottom: 4px solid #6839CF;
  background-color: #fbfbff;
}
.filters {
  border-radius: 4px;
  background-color: #F6F6FF;
  width: fit-content;
}
.filters .filter {
  cursor: pointer;
}
.filters .filter span {
  display: inline-block;
  padding: 11px 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
}
.filters .filter input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.filters .filter input:checked + span {
  color: #6839CF;
  font-weight: 500;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(207, 199, 224, 0.24), 0px 2px 4px rgba(193, 184, 212, 0.24);
}
.product-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
}
.product-group > div {
  margin-bottom: 40px;
  height: unset;
}
.product-preview {
  margin: 0 auto;
  cursor: pointer;
  padding: 16px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  position: relative;
  transition-property: box-shadow, border-radius;
}
.product-preview:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}
.product-preview:hover .buy {
  color: white;
  background-color: #6839CF;
}
.product-preview .sale {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8DDFF;
  border-radius: 4px;
  padding: 4px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.4px;
  color: #303030;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.product-preview .wish,
.product-preview .compare {
  position: absolute;
  cursor: pointer;
  right: 5px;
  z-index: 10;
}
.product-preview .wish {
  top: 5px;
}
.product-preview .compare {
  top: 47px;
}
.product-preview .img {
  margin: 0 auto 20px auto;
  width: 100%;
  height: 260px;
  object-fit: scale-down;
  object-position: center;
  overflow: hidden;
}
.product-preview .name,
.product-preview .desc {
  overflow: hidden;
  line-height: 150%;
  letter-spacing: 0.0275em;
}
.product-preview .name {
  font-weight: 700;
  font-size: 16px;
  color: #19191D;
  margin-bottom: 5px;
  max-height: 24px;
}
.product-preview .desc {
  font-size: 14px;
  color: #787885;
  margin-bottom: 16px;
  max-height: 63px;
}
.product-preview .bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-height: 57px;
  margin-top: auto;
}
.product-preview .buy {
  z-index: 10;
  border-radius: 4px;
  border: 1px solid #6839CF;
  transition-duration: 0.2s;
  transition-property: color, background-color;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform-origin: center;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.018em;
  color: #6839CF;
  padding: 11px 18px;
}
.product-group.tablets img,
.product-group.computers img {
  height: 240px;
}
.product-group.accessories img {
  height: 160px;
  margin-bottom: 30px;
}
.advantages .row > div {
  margin-bottom: 40px;
  padding-top: 80px;
  background-image: url('../images/icons/advantage.svg');
  background-position: 12px top;
  will-change: background-image;
}
.advantages .row > div.advantage-2 {
  background-image: url('../images/icons/advantage-2.svg');
}
.advantages .row > div.advantage-3 {
  background-image: url('../images/icons/advantage-3.svg');
}
.advantages .row > div.advantage-4 {
  background-image: url('../images/icons/advantage-4.svg');
}
@media screen and (max-width: 992px) {
  .advantages .row > div {
    margin-bottom: 30px;
    text-align: center;
    background-position: center top;
  }
}
/* comments block */
.comments-group > div {
  padding: 0 12.5px;
}
.comment {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #E2E4E8;
  border-radius: 10px;
  padding: 30px 30px 30px 27px;
}
.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.comment-header .right {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.comment-header .right .df {
  max-width: 130px;
}
.comment .img {
  margin-right: 15px;
}
.comment .name {
  display: inline-block;
  font-size: 18px;
  white-space: nowrap;
  line-height: 24px;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: bold;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment .time {
  font-size: 16px;
  display: block;
}
.comment .text {
  margin: 0;
  color: #1D293F;
  line-height: 175%;
  max-height: 56px;
  overflow: hidden;
}
.rating {
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-start;
  margin-left: auto;
}
.rating .star {
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background-image: url('../images/icons/star.svg');
}
.rating .star-fill {
  background-image: url('../images/icons/star-fill.svg');
}
.rating .star:first-of-type {
  margin-left: 0;
}
.rating .star:last-of-type {
  margin-right: 0;
}
.rating label {
  font-size: 20px;
  position: relative;
  margin: 0 2px;
}
.rating label::before {
  color: #E5E5E5;
  content: '\2605';
}
.rating input {
  opacity: 0;
  width: 1px;
  height: 1px;
}
.rating input:checked ~ label::before {
  color: #FFCA42;
}
.modal-body .rating {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.news-group,
.comments-group {
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* news block */
.news-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
.news-preview .img-wr {
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
  background-color: #F6F6FF;
  height: 255px;
}
.news-preview .img {
  will-change: transform;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news-preview .text {
  margin: 32px 0;
  font-size: 20px;
  line-height: 25px;
  max-height: 73px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-preview .stretched-link {
  line-height: 18px;
  align-self: flex-start;
  color: #6839CF;
  margin-top: auto;
  padding-right: 20px;
  background-image: url('../images/icons/new-arrow.svg');
  background-position: right center;
  background-size: auto;
}
.news-preview:hover .img {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
  transform: perspective(1000px) translate3d(0, 0, 21px);
  -webkit-filter: opacity(85%);
  -moz-filter: opacity(85%);
  filter: opacity(85%);
}
/* news block */
/* contacts block */
.contacts-info .row div {
  margin-bottom: 25px;
}
.contacts-map {
  height: 250px;
}
/* contacts block */
/* footer */
footer {
  padding: 50px 0 20px 0;
  position: relative;
}
footer .footer-form {
  align-items: center;
}
footer .footer-form h2 {
  font-size: 32px;
}
footer .footer-form .purple {
  padding: 15px 43px;
  line-height: 17px;
}
footer a:hover {
  opacity: 0.9;
}
footer .footer-bottom {
  padding-top: 10px;
  border-top: 1px solid #493B56;
}
footer .footernav-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #9487A1;
}
footer .footernav-item {
  margin-bottom: 7px;
  line-height: 120%;
}
footer .footernav-item a:hover {
  text-decoration: underline;
}
footer .footernav-item dl,
footer .footernav-item dt,
footer .footernav-item dd {
  margin: 0;
  font-weight: normal;
  display: inline-block;
}
footer .footernav-item dl {
  display: block;
}
footer .footernav-item dd {
  display: inline-block;
}
footer .footernav-item dd a {
  color: #01A4FF;
}
footer .footernav .payment-icon {
  margin-right: 10px;
}
footer address {
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
}
footer address span {
  margin-right: 17px;
  flex-shrink: 1;
}
footer a[href='#top'] {
  display: block;
  position: absolute;
  right: 1%;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #E2E4E8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-image: url('../images/icons/arrow-t.svg');
  background-position: center;
}
footer a[href='#top']:hover {
  background-color: #f8faff;
}
/* footer */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  display: block;
}
.breadcrumb-item {
  display: inline;
  line-height: 160%;
}
.breadcrumb-item.active {
  color: #9696A0;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 7px;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 7px;
  color: #9696A0;
  content: "-";
}
.breadcrumb-item:hover a {
  color: #824df5;
}
.list-block {
  border: 1px solid #EFEFEF;
  margin-bottom: -1px;
}
.list-block-title {
  display: flex;
  align-items: center;
  padding: 16px 20px 17px 24px;
  background-position: right center;
  background-origin: content-box;
  background-image: url('../images/icons/expand_more.svg');
  object-fit: contain;
}
.list-block-title.active {
  background-image: url('../images/icons/expand_more2.svg');
}
.list-block-title .cat-title-icon {
  width: 30px;
  height: 25px;
  display: block;
  margin-right: 20px;
  background-size: contain;
  background-position: center;
}
.list-block-title .cat-title-icon.iphone {
  background-image: url('../images/icons/iphone-icon.svg');
}
.list-block-title .cat-title-icon.ipad {
  background-image: url('../images/icons/ipad-icon.svg');
}
.list-block-title .cat-title-icon.mac {
  background-image: url('../images/icons/mac-icon.svg');
}
.list-block-title .cat-title-icon.airpods {
  background-image: url('../images/icons/airpods-icon.svg');
}
.list-block-title .cat-title-icon.watch {
  background-image: url('../images/icons/apple-watch-icon.svg');
}
.list-block-title .cat-title-icon.accse {
  background-image: url('../images/icons/accse-icon.svg');
}
.list-block .cat-list {
  padding-bottom: 15px;
}
.list-block .cat-list li {
  width: 100%;
}
.list-block .cat-list a {
  display: block;
  padding: 8px 25px;
}
.list-block .cat-list a:hover {
  background-color: #f8f8f8;
}
.categ-mini-cards .pr {
  margin-bottom: 30px;
  overflow: hidden;
  border: 1px solid #EFEFEF;
}
.categ-mini-cards .pr img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background-color: white;
}
.categ-mini-cards .pr a {
  display: block;
  text-align: center;
  padding: 16px 0;
  border: 1px solid #EFEFEF;
}
.categ-mini-cards .pr:hover img {
  will-change: transform;
  transform: perspective(1000px) translate3d(0, 0, 21px);
  -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
}
.ul-bullets li {
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
  line-height: 24px;
}
.ul-bullets li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6839CF;
}
@media screen and (max-width: 568px) {
  .catalog-menu {
    border-radius: 0 0 6px 6px;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.102));
    padding: 50px 85px;
  }
  .widgets {
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: unset;
    bottom: 0 !important;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .widgets a {
    background-position: 10px;
    width: 54px;
    height: 55px;
    border: none;
    border-left: 1px solid #595959;
  }
  .widgets a:last-child {
    border-right: 1px solid #595959;
  }
  .widgets a .badge {
    top: 8px;
    left: 25px;
  }
  .product-group {
    justify-content: start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .product-group .product-preview:hover {
    box-shadow: none;
  }
  .mb-100 {
    margin-bottom: 70px;
  }
  .advantages .row div {
    margin-bottom: 50px;
  }
  .advantages .row div:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .about {
    text-align: center;
  }
  .about .row {
    flex-direction: column-reverse;
  }
  .about .col-lg-7 {
    margin-bottom: 40px;
  }
  .about img {
    height: 250px;
    object-fit: cover;
  }
  footer {
    margin-bottom: 55px;
  }
}
.col {
  width: 72px;
}
@media screen and (max-width: 991px) {
  .news .news-preview {
    padding: 10px;
  }
  .news .news-preview .text {
    margin: 20px 0;
  }
  .tabs-links li a {
    font-size: 18px;
    padding: 20px 10px 20px 10px;
  }
  .contacts-info {
    text-align: center;
  }
  .contacts .col-lg-3 {
    margin-bottom: 35px;
  }
  .contacts-map {
    height: 220px;
  }
  footer a[href="#top"] {
    right: 10px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .news .news-preview {
    padding: 10px;
  }
  .news .news-preview .text {
    margin: 20px 0;
  }
}
ul {
  padding: 0 0;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}
.br-4 {
  border-radius: 4px;
}
.footer-form input:not([type="checkbox"]) {
  background-color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 24px 14px 24px;
  color: #303030;
  border: none;
}
.footer-form input:not([type="checkbox"])::placeholder {
  color: #303030;
}
.footer-form input:not([type="checkbox"]):focus {
  outline: none;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (max-width: 767px) {
  .banner {
    align-items: center;
    flex-direction: column;
    padding: 50px 15px 30px 15px;
    text-align: center;
  }
  .banner-text {
    align-items: center;
  }
  .banner-h1 {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .banner-p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .banner-links {
    margin-bottom: 30px;
  }
  .banner .purple {
    padding: 10px 30px;
  }
  .banner img {
    width: 250px;
    align-self: center;
    position: static;
    object-fit: contain;
  }
  .banner-1 {
    padding-bottom: 0;
  }
  .banner-3 img {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding: 70px;
  }
  .banner-text {
    width: 60%;
  }
  .banner-p {
    font-size: 30px;
  }
  .banner .purple {
    padding: 12px 40px;
  }
  .banner img {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 20px;
  }
  .banner-1 img {
    bottom: 0;
    right: 0;
    width: 400px;
  }
  .banner-2 img,
  .banner-3 img {
    top: 50%;
    transform: translateY(-50%);
  }
  .banner-3 img {
    object-position: center right;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    flex-direction: row;
    padding: 100px;
  }
  .banner-text {
    text-align: left;
    align-items: flex-start;
    width: 500px;
  }
  .banner-h1 {
    font-size: 50px;
  }
  .banner img {
    width: 400px;
  }
  .banner-1 img {
    width: 550px;
  }
}
@media screen and (min-width: 1645px) {
  .banner-h1,
  .banner-p {
    margin-bottom: 45px;
  }
  .banner-1 {
    padding: 170px 0;
  }
  .banner-1 .banner-h1 {
    margin-bottom: 10px;
  }
  .banner-1 .banner-p {
    margin-bottom: 75px;
  }
  .banner-1 img {
    width: 900px;
  }
  .banner-2 {
    width: 55%;
  }
  .banner-3 {
    width: 45%;
  }
  .banner-text {
    width: 50%;
  }
}
.banner {
  flex-grow: 1;
  position: relative;
  display: flex;
}
.banner-text {
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.banner-h1 {
  line-height: normal;
}
.banner-p {
  line-height: normal;
}
.banner .purple {
  margin-right: 20px;
  padding: 16px 39px;
}
.banner-links .c-5,
.banner-links .c-3 {
  padding-right: 25px;
}
.banner-links .c-3 {
  background-image: url('../images/icons/arrow-r.svg');
}
.banner-1 img {
  object-position: center bottom;
}
img {
  object-fit: contain;
  z-index: 0;
}
.search-form {
  position: relative;
}
.search-form svg {
  position: absolute;
  right: 5px;
}
input {
  user-select: all;
}
.info-buyer .nav-link {
  padding: 18px 30px;
  border: 1px solid #EFEFEF;
  border-radius: 0;
  margin-bottom: -1px;
}
.info-buyer .nav-link.active {
  color: currentColor;
  background-color: #FAFBFF;
  border-left-width: 5px;
  border-left-color: #6839CF;
}
.info-buyer .nav-link:hover {
  background-color: #FAFBFF;
}
.modal-title {
  line-height: 100%;
}
.modal-dialog {
  border-radius: 6px;
}
.modal-content {
  border: none;
}
.modal-header,
.modal-body,
.modal-footer {
  border: none;
}
.modal-footer {
  justify-content: flex-start;
}
.modal .btn-close {
  padding: 8px;
  opacity: 1;
  right: 20px;
  top: 20px;
  background: none;
  margin: 0;
}
.modal .btn-close:hover svg {
  transform: rotate(180deg);
}
.modal .btn-close:hover svg path {
  fill: #824DF5;
}
.modal .purple {
  font-size: 16px;
  font-weight: 600;
}
.modal label {
  user-select: none;
}
.modal label input {
  top: 4px;
  margin-bottom: 10px;
}
.modal input::placeholder,
.modal textarea::placeholder {
  color: #3A3C3C;
  font-weight: 500;
}
@media screen and (max-width: 568px) {
  .modal-title {
    font-size: 30px;
  }
  .modal .btn-close {
    top: 15px;
    right: 15px;
  }
}
@media (min-width: 900px) {
  .modal-dialog {
    max-width: 720px;
  }
  .modal-content {
    width: 586px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
label {
  user-select: none;
}
label input {
  top: 4px;
  margin-bottom: 10px;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.ps {
  position: static;
}
.catalognav-menu.row {
  flex-wrap: nowrap !important;
  flex-direction: row;
}
.catalognav-menu li {
  margin-bottom: 16px;
}
.catalognav-menu .catalognav-heading {
  margin-bottom: 22px;
}
svg {
  vertical-align: inherit;
  flex-shrink: 0;
}
textarea {
  white-space: nowrap;
  resize: none;
}
.gamburger rect {
  transition: 0.2s linear;
  transform: rotate(0deg) translateX(0px) translateY(0px);
}
.gamburger:hover rect {
  width: 20px;
}
.gamburger:hover rect:first-child {
  -webkit-transform: translateY(0px) rotate(40deg);
  -ms-transform: translateY(0px) rotate(40deg);
  -o-transform: translateY(0px) rotate(40deg);
  transform: translateY(0px) rotate(40deg);
}
.gamburger:hover rect:nth-child(2) {
  opacity: 0;
}
.gamburger:hover rect:last-child {
  transform-origin: left;
  transform: rotate(-45deg);
}
.ol-styled {
  list-style: none;
  padding-left: 0;
}
.ol-styled li {
  margin-bottom: 5px;
}
.required::after {
  content: ' *';
  color: #C94D3F;
  font-size: 14px;
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
  -ms-text-underline-position: under;
}
.btn-small {
  font-size: 14px;
}
button {
  line-height: 100%;
  white-space: nowrap;
  padding: 0;
}
button:focus {
  outline: none;
}
button:focus svg path {
  fill: #6839CF;
}
a,
button {
  cursor: pointer;
}
.account:hover {
  color: #6839CF;
}
.account:hover svg path {
  fill: #6839CF;
}
.label {
  margin-bottom: 12px;
}
.input {
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  padding: 14px 20px;
  user-select: all;
}
.input:focus {
  background-color: #fff;
  border-color: #824df5;
  outline: 0;
  box-shadow: none;
}
.input:placeholder-shown {
  color: #8D8D8D;
  font-weight: 300;
}
form a.c-3 {
  background: none;
  padding: 0;
}
.account-block .nav {
  padding: 10px 0;
}
.account-block .nav hr {
  margin: 15px 0;
}
.account-block .nav-link {
  padding: 0 20px;
  margin: 10px 0;
}
.account-block .nav-link.active {
  color: #303030;
  font-weight: 500;
  border-left: 3px solid #6839CF;
}
.account-block hr {
  background-color: #CCCCCC;
  opacity: 1;
}
.account-block dl {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.account-block dt {
  font-weight: 300;
  color: #666666;
  margin-bottom: 5px;
}
.account-block dd {
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.addresses .address {
  margin-bottom: 25px;
}
.orders .order {
  border: 1px solid #CCCCCC;
  border-top: none;
  margin-bottom: 20px;
  justify-content: stretch;
}
.orders .order-column {
  flex-grow: 1;
}
.orders .order-number,
.orders .order-address {
  flex-basis: 40%;
}
.orders .order-price {
  flex-basis: 20%;
}
.orders .order-title {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  color: #666666;
  font-weight: 200;
  margin-top: -1px;
  padding: 20px;
}
.orders .order-info {
  padding: 20px;
  color: #212121;
  font-weight: 400;
}
.orders .order-info-title {
  color: #212121;
  font-weight: 600;
}
.orders .order-info-text {
  padding-top: 20px;
  color: black;
}
.orders .order-info-text a {
  display: block;
  color: #2E90E5;
  margin-bottom: 10px;
}
.orders .order-info-text a:last-child {
  margin-bottom: 0;
}
.orders .order-info time {
  color: #606060;
}
svg {
  user-select: none;
}
.tnw {
  white-space: nowrap;
}
.login:hover {
  color: #6839CF;
}
.login:hover svg path {
  fill: #6839CF;
}
.mobile-menu-common {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 100;
  top: 44px;
}
.mobile-menu-common a,
.mobile-menu-common button {
  display: block;
  width: 100%;
  padding: 15px 24px;
  border-bottom: 1px solid #EFEFEF;
}
.mobile-menu-common .c-3 {
  display: block;
  width: 100%;
  padding: 15px 24px;
}
.mobile-menu-catalog {
  z-index: 101;
}
.mobile-search-wr {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}
.mobile-search-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
}
.mobile-search-input {
  border: 0;
}
.mobile-search-input:focus {
  outline: none;
}
.mobile-search-close {
  background-color: transparent;
  border: none;
}
.mobile-search-bg {
  background-color: rgba(48, 48, 48, 0.5);
  flex-grow: 1;
}
.header-search {
  flex-wrap: nowrap;
  height: 60px;
  flex-grow: 1;
  display: flex;
}
.header-search-bg {
  background-color: #EBEBEB;
  border-radius: 30px;
  display: inline-flex;
  height: 100%;
  width: 95%;
  flex-grow: 1;
  padding: 0 25px 0 30px;
  justify-content: space-between;
  align-items: center;
}
.header-search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 90%;
  flex-grow: 1;
  padding-right: 10px;
}
.header-search-input:placeholder-shown {
  color: #8C8C8C;
}
.header-search-input:focus {
  outline: none;
}
.header-search .hide-search {
  max-width: 20%;
  margin-left: 20px;
}
.hidden {
  display: none;
}
button {
  line-height: 100%;
}
.btn-trans {
  background-color: transparent;
  border: none;
  padding: 0;
  align-items: center;
}
.btn-trans:focus svg path {
  fill: #6839CF;
}
.btn-blue {
  color: #0156FF;
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
}
.btn-blue:focus {
  color: #6839CF;
}
.btn {
  line-height: 100%;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  padding: 15px 43px;
  border: 1px solid #6839CF;
  background-color: #6839CF;
  color: white;
}
.btn:disabled {
  background-color: #8374a3;
}
.btn:hover,
.btn:focus {
  background-color: #824df5;
  color: white;
}
.btn-border {
  background-color: white;
  color: #6839CF;
  font-size: 16px;
}
.bttn {
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: white;
  border: 0;
}
.bttn:hover,
.bttn:focus {
  opacity: 0.9;
}
button {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  font-weight: inherit;
}
button span {
  vertical-align: middle;
  line-height: 100%;
}
button.underline {
  background-color: transparent;
  border: 0;
  padding: 0;
}
.purple,
.purple-border {
  white-space: nowrap;
  background-color: #6839CF;
  border-radius: 4px;
  border: none;
  padding: 10px 35px;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0075em;
}
.purple:hover,
.purple-border:hover {
  background-color: #824df5;
  color: white;
}
.purple-border {
  background-color: transparent;
  border: 1px solid #6839CF;
  color: #6839CF;
}
.filters-block fieldset {
  border: 1px solid #EFEFEF;
  padding: 17px 20px 0 17px;
}
.filters-block legend {
  color: #303030;
  font-size: 18px;
  letter-spacing: 0.004em;
  margin: 0;
  padding-bottom: 17px;
  line-height: 28px;
}
.filters-block .variants {
  color: #19191D;
  padding-bottom: 17px;
}
.filters-block .variants div {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
}
.filters-block .variants div:last-of-type {
  padding-bottom: 0;
}
.filters-block label {
  padding-left: 30px;
  position: relative;
  letter-spacing: 0.0275em;
  cursor: pointer;
}
.filters-block label::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../images/icons/filtr-check.svg');
  background-color: transparent;
  background-size: contain;
  top: 1px;
  left: 0;
}
.filters-block label:hover::before {
  background-image: url('../images/icons/filtr-check-hover.svg');
}
.filters-block input {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.filters-block input:checked + label::before {
  background-image: url('../images/icons/filtr-checked.svg');
}
.filters-block .price div {
  display: auto;
  padding: 0;
}
.filters-block .price input {
  width: auto;
  height: auto;
  visibility: visible;
  background-color: #824df5;
  border: none;
}
.card-slider {
  justify-content: space-between;
}
.card-slider .card-thumb-img {
  height: 100%;
  width: 28%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
.card-slider .card-thumb-img div div {
  width: 100%;
  height: 33%;
  max-height: 140px;
  margin-bottom: 10px;
}
.card-slider .card-thumb-img div div img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: scale-down;
}
.card-slider .card-img-big {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.card-slider .card-img-big img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: scale-down;
}
.card-info dl {
  margin-bottom: 10px;
}
.card-info dl dt {
  margin-bottom: 5px;
}
.card-info dl dd {
  margin-bottom: 0;
}
.card-info .char .colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.card-info .char .color {
  margin: 5px;
  width: 38px;
  height: 38px;
  position: relative;
  border-radius: 50%;
}
.card-info .char .color:after {
  content: '';
  display: block;
  border-radius: inherit;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.card-info .char .color input {
  cursor: pointer;
  width: inherit;
  height: inherit;
  z-index: 10;
  position: absolute;
  opacity: 0;
}
.card-info .char .color input:checked + div {
  border: 2px solid currentColor;
}
.card-info .char .color-border {
  z-index: 9;
  opacity: 0.5;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.card-info .char-inline {
  display: inline-flex;
}
.card-info .char legend {
  font-weight: 600;
  font-size: 18px;
  line-height: 158%;
  letter-spacing: 0.004em;
  color: #303030;
  width: max-content;
  float: none;
}
.card-info .char legend span {
  font-weight: 500;
}
.card-info .char .card-radio-btns {
  font-size: 0px;
}
.card-info .char .card-radio-btns label {
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.004em;
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
  min-width: 80px;
}
.card-info .char .card-radio-btns label:hover {
  border-color: #9e81dd;
}
.card-info .char .card-radio-btns input:checked + label {
  border: 1px solid #6839CF;
  background-color: #f9f6ff;
}
.card-info .char-list {
  display: flex;
  flex-wrap: wrap;
}
.card-info dt {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #606060;
}
.card-info dd {
  font-weight: 600;
  font-size: 18px;
  line-height: 158%;
  letter-spacing: 0.004em;
  color: #303030;
}
.card-info .wish,
.card-info .compare {
  width: 48px;
  height: 48px;
}
.card-info .wish {
  margin-right: 10px;
}
.card-info .price {
  display: flex;
  align-items: flex-start;
}
.card-info .price ins {
  font-size: 32px;
  line-height: 150%;
  margin-right: 10px;
}
.card-info .price del {
  font-size: 18px;
  line-height: 150%;
}
.card-info .card-btns button {
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 43px;
  margin-bottom: 20px;
}
.card-info .btn-border {
  color: #6839CF;
  border: 2px solid #6839CF;
  margin-right: 10px;
}
.card-info .btn-purple {
  letter-spacing: 0.018em;
  color: #FFFFFF;
  background-color: #6839CF;
  border: 1px solid #6839CF;
}
.btn-border:hover {
  background-color: white;
  border-color: #A039FF;
  color: #A039FF;
}
.credit-info {
  display: flex;
  margin-left: auto;
  cursor: help !important;
}
.credit-info span {
  margin-right: 5px;
  text-decoration: dashed;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  text-underline-position: under;
  -ms-text-underline-position: under;
  color: #606060;
}
#characteristics .char-group {
  border-bottom: 1px solid #E6E6E6;
  padding: 40px;
  letter-spacing: 0.01em;
}
#characteristics h6 {
  font-weight: bold;
  font-size: 18px;
  color: #303030;
  margin-bottom: 30px;
}
#characteristics dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#characteristics dl:last-of-type {
  margin-bottom: 0;
}
#characteristics dt,
#characteristics dd {
  font-weight: 400;
  font-size: 18px;
  color: #606060;
  margin-bottom: 0;
}
#characteristics dt {
  color: #1b1b1b;
  flex-basis: 45%;
  padding-right: 10px;
}
#characteristics dt::after {
  content: ':';
}
#characteristics dd {
  flex-basis: 55%;
}
#description {
  padding-top: 30px;
}
#description p {
  margin-bottom: 22px;
}
#description p:last-of-type {
  margin-bottom: 0;
}
.wish,
.compare,
.delete {
  border: 1px solid #B4B4BB;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  background-color: white;
}
.wish::before,
.compare::before,
.delete::before,
.wish::after,
.compare::after,
.delete::after {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: none;
}
.wish::before,
.compare::before,
.delete::before {
  content: '';
  width: 11px;
  height: 9px;
  top: -14px;
  background-image: url('../images/icons/triangle.svg');
}
.wish::after,
.compare::after,
.delete::after {
  background-color: #F3EDFF;
  padding: 8px 20px;
  white-space: nowrap;
  top: -46px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.004em;
  color: #303030;
  border-radius: 2px;
}
.wish:hover::after,
.compare:hover::after,
.delete:hover::after,
.wish:hover::before,
.compare:hover::before,
.delete:hover::before {
  display: block;
}
.wish:focus,
.compare:focus,
.delete:focus {
  outline: none;
}
.wish {
  background-image: url('../images/icons/wish.svg');
}
.wish::after {
  content: 'Добавить в избранное';
}
.wish.active {
  background-image: url('../images/icons/wish-active.svg');
}
.wish.active:hover {
  background-image: url('../images/icons/wish-hover.svg');
}
.wish.active:hover::after {
  content: 'Удалить из избранного';
}
.compare {
  background-image: url('../images/icons/compare.svg');
}
.compare:hover::after {
  content: 'Добавить в сравнение';
}
.compare.active {
  background-image: url('../images/icons/compare-active.svg');
}
.compare.active:hover {
  background-image: url('../images/icons/compare-hover.svg');
}
.compare.active:hover::after {
  content: 'Удалить из сравнения';
}
.delete:focus {
  outline: none;
  box-shadow: 0px 0px 2px #FFE9EA;
}
.delete:hover::after,
.delete:focus::after {
  content: 'Удалить товар';
}
.price {
  white-space: nowrap;
}
.price ins {
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  color: #212121;
  line-height: 150%;
}
.price del {
  font-weight: 400;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  color: #787885;
  font-size: 14px;
  line-height: 143%;
}
/***********
RANGE SLIDER
***********/
.ui-widget.ui-widget-content {
  border: none;
  background-color: #E9EAEA;
  border-radius: 0;
  height: 4px;
  margin: 1.25em 0 2em;
  width: 210px;
}
.ui-widget-header {
  border: none;
  background: #2E90E5;
}
.ui-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 50%;
  background: #2E90E5;
  border: 2px solid white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}
.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:active {
  outline: none;
  background: #A039FF;
}
.slider-range-inputs {
  border: 1px solid #C4C4C4;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em;
}
.slider-range-inputs input {
  border: none;
  background-color: transparent;
  border-radius: unset;
  padding: 0;
}
.card-slider {
  min-height: 300px;
  height: 514px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-size: contain;
  background-position: center;
  background-origin: content-box;
}
.gallery-thumbs {
  height: 100%;
  max-width: 100px;
  margin: auto;
}
.gallery-thumbs .swiper-wrapper {
  max-height: 440px;
  height: 95%;
  margin: auto;
  margin-top: -15px;
}
.gallery-thumbs .swiper-slide {
  max-height: 140px;
}
.gallery-top {
  height: 100%;
  max-width: 400px;
}
.gallery-top .swiper-slide {
  padding: 20px;
  padding-right: 0;
}
.swiper-button-prev,
.swiper-button-next {
  width: 100%;
  height: 40px;
  background-color: white;
  left: 0;
  margin: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}
.swiper-button-prev {
  top: -1px;
  bottom: auto;
}
.swiper-button-next {
  bottom: -1px;
  top: auto;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.swiper-button-next.swiper-button-disabled svg,
.swiper-button-prev.swiper-button-disabled svg {
  opacity: 0.3;
}
.delete {
  z-index: 10;
  border-radius: 50%;
  background-color: #FFF0F2;
  width: 25px;
  height: 25px;
  border: none;
  background-position: center;
  background-image: url('../images/icons/delete.svg');
}
.delete:hover {
  background-color: #FFE9EA;
}
.compare-page .product-preview {
  padding: 0;
  width: 100%;
}
.compare-page .product-preview:hover {
  box-shadow: none;
}
.compare-page .product-preview .delete {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
.compare-page .img {
  height: 200px;
  width: 140px;
}
.compare-page .bottom {
  margin-bottom: 20px;
}
.compare-page .bottom-2 {
  z-index: 2;
}
.compare-page .buy {
  z-index: 20;
}
.compare-page .wish {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  position: relative;
  top: 0;
  right: 0;
}
.cart-items,
.cart-item-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.cart-items > *,
.cart-item-titles > * {
  padding-left: 5px;
  padding-right: 5px;
}
.cart-item-titles {
  padding-bottom: 20px;
}
.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #F6F7F8;
  border-bottom: 2px solid #F6F7F8;
  padding: 40px;
  margin-bottom: -2px;
}
.cart-item .img {
  height: 120px;
}
.cart-item .name-wr {
  align-self: center;
  max-height: 85px;
  overflow: hidden;
}
.cart-item .name-wr .name {
  max-width: 310px;
}
.cart-item .price {
  position: relative;
}
.cart-item .price del {
  font-size: 10px;
  position: absolute;
  top: -10px;
}
.cart-item .price ins {
  font-size: 18px;
}
.cart-item .number {
  background-color: #F6F7F8;
  border-radius: 4px;
  max-width: 125px;
  width: 125px;
  height: 46px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
}
.cart-item .number > * {
  flex-grow: 1;
}
.cart-item .number .less,
.cart-item .number .more {
  max-width: 33%;
  width: 33%;
  height: 100%;
  background-position: center;
}
.cart-item .number .less:disabled,
.cart-item .number .more:disabled {
  opacity: 0.3;
}
.cart-item .number .less {
  background-image: url('../images/icons/minus.svg');
}
.cart-item .number .more {
  background-image: url('../images/icons/plus.svg');
}
.cart-item .number input {
  text-align: center;
  color: #262626;
  max-width: 33%;
  padding: 12px 3px;
  border: none;
  background-color: transparent;
}
.cart-item .number input:focus {
  border: none;
}
.cart-item .delete {
  margin-left: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order-form-1 {
  max-width: 550px;
}
.order-form .type {
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  max-width: 550px;
}
.order-form .type fieldset {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 20px 40px 0 15px;
}
.order-form .type fieldset:last-of-type label {
  border-bottom: none;
}
.order-form .type fieldset:hover .radio {
  border-color: #8772b4;
}
.order-form .type fieldset:hover .radio::before {
  background-color: #8772b4;
}
.order-form .type fieldset input {
  z-index: 3;
  height: 21px;
  width: 21px;
  position: absolute;
  opacity: 0;
}
.order-form .type fieldset input:checked + .radio {
  border-color: #6839CF;
}
.order-form .type fieldset input:checked + .radio::before {
  background-color: #6839CF;
}
.order-form .type fieldset label {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 2px solid #F6F7F8;
}
.order-form .type fieldset p {
  font-size: 12px;
  line-height: 20px;
  color: #606060;
  margin-top: 5px;
}
.order-form .radio {
  flex-shrink: 0;
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  margin-right: 16px;
}
.order-form .radio::before {
  content: '';
  position: absolute;
  display: inherit;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #C4C4C4;
  top: 50%;
  left: 50%;
  transform: translateX(-54%) translateY(-54%);
}
.order-done h1 {
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  .banner-group .banner {
    flex-direction: column;
  }
  .banner-group .banner-text {
    align-items: center;
  }
  .banner-group .banner img {
    position: static;
  }
  .comment {
    padding: 15px;
  }
  .comment-header {
    margin-bottom: 15px;
  }
  .comment-header .right {
    flex-direction: column;
  }
  .comment-header .right .rating {
    margin-top: 3px;
    margin-left: 0;
  }
  .card-slider {
    height: 450px;
  }
}
@media screen and (max-width: 992px) {
  .order-done h1 {
    line-height: normal;
    font-size: 23px;
  }
}
@media screen and (max-width: 768px) {
  .orders .order-column {
    flex-basis: 100%;
  }
  #characteristics .char-group {
    padding: 20px 0;
  }
  #characteristics dl {
    flex-direction: column;
  }
  #characteristics dt {
    margin-bottom: 10px;
  }
  .card-slider {
    height: 400px;
  }
  .cart-page .cart-item {
    flex-direction: column;
    font-size: 16px;
    padding: 20px 10px;
  }
  .cart-page .cart-item-titles {
    display: none;
  }
  .cart-page .cart-item .name-wr {
    margin: 15px 0;
    text-align: center;
    line-height: 140%;
  }
  .cart-page .cart-item .name-wr .name {
    margin: auto;
  }
  .cart-page .cart-item .price {
    margin-top: 10px;
  }
  .cart-page .cart-item .number {
    margin: 15px 0;
  }
  .cart-page .delete {
    position: absolute;
    right: 10px;
    top: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  h1 {
    font-size: 32px;
  }
  .account-block dl {
    flex-direction: column;
  }
  .card-slider {
    height: 300px;
  }
  .gallery-thumbs .swiper-slide {
    height: 50px;
  }
  .empty-message a.btn {
    flex-grow: 1;
  }
}
.c-1 {
  color: #303030;
}
.c-2 {
  color: #1D293F;
}
.c-3 {
  color: #6839CF;
}
.c-4 {
  color: #0C2146;
}
.c-5 {
  color: white;
}
.c-6 {
  color: #9696A0;
}
.c-7 {
  color: #5A5B6A;
}
.c-8 {
  color: #333333;
}
.c-9 {
  color: #19191D;
}
.c-10 {
  color: #787885;
}
.c-11 {
  color: #212121;
}
.c-12 {
  color: #C1C8CE;
}
.c-13 {
  color: black;
}
.c-14 {
  color: #3A3C3C;
}
.c-15 {
  color: #0156FF;
}
.c-16 {
  color: #8C8C8C;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-36 {
  font-size: 36px;
}
.fs-64 {
  font-size: 64px;
}
.bg-1 {
  background: linear-gradient(180deg, #0C0412 0%, rgba(52, 0, 103, 0.88) 100%);
  box-shadow: 1px 4px 44px rgba(0, 0, 0, 0.03);
}
.bg-2 {
  background: radial-gradient(60.8% 122.75% at 50.05% 0%, rgba(247, 247, 255, 0) 0%, #F7F7FF 100%);
}
.bg-3 {
  background-color: white;
}
.bg-4 {
  background-color: #F6F6FF;
}
.bg-5 {
  background-color: #E2E4E8;
}
.bg-6 {
  background-color: #E8DDFF;
}
.bg-7 {
  background-color: #303030;
}
.bg-8 {
  background-color: #F5F7FF;
}
.bg-9 {
  background-color: #9696A0;
}
.bg-10 {
  background-color: #160823;
}
a:not([href]) {
  cursor: auto;
}
a.c-3:hover {
  color: #824DF5;
}
.terms-fieldset input[type="checkbox"] {
  flex-shrink: 0;
  visibility: hidden;
  width: 20px;
  height: 20px;
}
.terms-fieldset input[type="checkbox"]::before {
  content: '';
  visibility: visible;
  position: absolute;
  border: 1px solid #9D9E9E;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 11px;
}
.terms-fieldset input[type="checkbox"]:checked::before {
  background-image: url('../images/icons/checked.svg');
}
.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.fc {
  flex-direction: column;
}
.aic {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.aie {
  align-items: flex-end;
}
.ais {
  align-items: stretch;
}
.fw {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fnw {
  flex-wrap: nowrap;
}
.jsb {
  justify-content: space-between;
}
.jsc {
  justify-content: center;
}
.jcs {
  justify-content: flex-start;
}
.jse {
  justify-content: flex-end;
}
.jss {
  justify-content: stretch;
}
